.personal-info-container {
  flex: 0 0 30%;
  border: transparent;

  background-image: linear-gradient(#2b2741 80%, #2b2741c4);
  box-shadow: 0 0 0 0.75rem #8febd5;
  color: white;

  margin: 0;
  border-radius: 0;
}

.personal-info-flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.personal-info-container h2 {
  font-weight: 900;
  color: #8febd5;
}

.personal-info-container ul {
  list-style: none;
  padding: 0;
  margin: 0.75rem 0;
}

.personal-info-container p {
  padding: 0;
  margin: 0;
  display: inline;
}

.icon {
  margin: 0 0.5rem 0 0;
}

.profile-image {
  height: auto;
  width: 100%;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
}

.email {
  overflow: hidden;
  white-space: nowrap;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.phone-numbers p {
  display: block;
  line-height: 1.1rem;
}

.former-occupation-print {
  padding: 0 1rem;
  display: none;
  height: 0;
}

.former-occupation,
.former-occupation-print {
  font-size: 0.9rem;
}

.former-occupation ul,
.former-occupation-print ul {
  list-style: "- ";
  list-style-position: inside;
  margin: 0.3rem 0;
}

.former-occupation b,
.former-occupation-print b {
  font-size: 1rem;
}

.printer-button {
  margin-top: auto;
  margin-bottom: 1rem;
}

.printer-button button {
  width: 100%;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.195);
  border: #8febd65a 0.1rem solid;
  border-radius: 0.5rem;
  font-size: large;
  color: #8febd5;
  margin-top: max-content;
}

.printer-button button:hover {
  background: #8febd5;
  cursor: pointer;
  color: #2b2741;
}

@media (min-width: 1200px) {
  .personal-info-container {
    padding: 1rem 1.5rem;
  }
}

@media only screen and (max-width: 910px) {
  .personal-info-container {
    background: #2b2741;
  }

  .expanding-skills,
  .former-occupation,
  .profile-image,
  .profiles,
  .contact-me,
  .personal {
    display: none;
  }
}

@media only print {
  .personal-info-container {
    height: 1000mm;
  }

  .personal-info-flex-container {
    height: auto;
  }

  .contact-me {
    margin-top: 6rem;
  }

  .former-occupation-print {
    display: block;
    page-break-before: always;
    margin-top: 2.2rem;
    height: auto;
  }
}
