.personal-info-container {
  flex: 0 0 30%;
  border: transparent;

  background-image: linear-gradient(#2b2741 80%, #2b2741c4);
  box-shadow: 0 0 0 0.75rem #8febd5;
  color: #8febd5;

  margin: 0;
  border-radius: 0;
}

.personal-info-container h2 {
  font-weight: 900;
}

.personal-info-container ul {
  list-style: none;
  padding: 0;
}

.profile-image {
  height: auto;
  width: 100%;
  padding: 0.5rem 0;
}

.printer-button {
  width: 100%;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.195);
  border: #8febd65a 0.1rem solid;
  border-radius: 0.5rem;
  font-size: large;
  color: #8febd5;
}

.printer-button:hover {
  background: #8febd5;
  cursor: pointer;
  color: #2b2741;
}

.js {
  color: #f0db4f;
}

.react {
  color: #00d8ff;
}

.html {
  color: #e34c26;
}

.css {
  color: #264de4;
}
