.cv-info-container {
  flex: 1 1 60%;
  border: transparent;
  color: #2b2741;
  padding: 0 3rem 0 1rem;
  background-color: white;
}

.cv-info-container h2 {
  background-color: #2b2741;
  width: 100%;
  color: #8febd5;
  margin: 0.5rem 0;
  padding: 0.2rem 3rem 0.2rem 1rem;
  display: inline-block;
  border-radius: 0 0.5rem 0 0.5rem;

  font-weight: 900;
}

.cv-info-container a {
  text-decoration: underline;
}

.cv-info-container ul {
  list-style: none;
  padding: 0 0.5rem;
}
.cv-info-container li {
  padding: 0.1rem;
}

.subsection h2 {
  width: auto;
  color: #2b2741;
  background-color: transparent;
  padding: 0;
}

.profile p {
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.side-by-side {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: baseline;
  gap: 0.5rem;
}

.education h1 {
  margin: 0;
  padding: 0;
  font-size: large;
  font-weight: bold;
}

.education h2 {
  background: none;
  color: #2b2741;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  font-weight: initial;
}

.education h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.education a {
  text-decoration: none;
}

.education h4 {
  margin: 0;
  padding: 0;
  font-weight: initial;
  font-size: 0.9rem;
}

.education h5 {
  margin: 0;
  padding: 0;
  font-weight: initial;
  font-size: 0.8rem;
}

.certificates h1 {
  margin: 0;
  padding: 0;

  font-size: large;
  font-weight: bold;
}

.certificates h2 {
  background: none;
  color: #2b2741;
  border: none;
  padding: 0;
  margin: 0 0 0.3rem 0;

  font-size: 0.9rem;
  font-weight: initial;
}

a.link,
a.link h1 {
  text-decoration: none;
}

a.link {
  display: block;
}

a.link h1 {
  display: inline-block;
  padding-right: 0.3rem;
}

a.link:hover h1 {
  text-decoration: underline;
}

.super {
  font-size: small;
  vertical-align: super;
  text-decoration: none;
}

.skills ul {
  margin: 0;
  padding: 0;
  width: 17.5rem;
  display: flex;
  flex-wrap: wrap;
}

.skills ul li {
  display: inline;
  font-size: 3rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

@media (min-width: 1200px) {
  .cv-info-container {
    padding: 1rem 3rem 1rem 2rem;
  }

  .education h1 {
    font-size: 1.2rem;
  }

  .education h2 {
    font-size: 1rem;
  }

  .education h3 {
    font-size: 1.2rem;
    margin-right: 3rem;
  }

  .education h4 {
    font-size: 1rem;
  }

  .education h5 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 810px) {
  .expanding-skills {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .side-by-side {
    grid-template-columns: auto;
    gap: 0;
  }
}

@media (min-width: 910px) {
  .expanding-skills {
    display: none;
  }

  .profile p {
    padding-top: 0;
  }
}

@media print {
  .cv-info-container {
    padding: 3rem;
  }

  .expanding-skills {
    display: none;
  }

  .side-by-side {
    gap: 4rem 7rem;
  }

  .profile p {
    margin-bottom: 4rem;
    padding-top: 0;
  }

  .super {
    display: none;
  }

  .skills ul {
    width: 17.5rem;
  }

  .skills ul li {
    font-size: 2rem;
    padding-right: 2.5rem;
    padding-bottom: 1.5rem;
  }
}

.icon {
  margin: 0 0.5rem 0 0;
}

.js {
  color: #f0db4f;
  background: black;
}

.react {
  color: #00d8ff;
}

.html {
  color: #e34c26;
}

.css {
  color: #264de4;
}
