.subsection {
  padding: 0 0 1rem 0;
}

.subsection h2 {
  padding: 0;
  margin: 0;
}

a.link,
a.link h2 {
  text-decoration: none;
}

a.link:hover h2 {
  text-decoration: underline;
}

.super {
  font-size: small;
  vertical-align: super;
  text-decoration: none;
}

@media print {
  .super {
    display: none;
  }
}
